# API URL for connecting frontend and backend.
# In development on local browser: http://localhost:8003
# In development on a physical device: http://<your-computer-lan-ip>:8003
EXPO_PUBLIC_API_URL=http://localhost:8003
